$margin: 8px;
$panel_background: #d3d3d3;

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
img {
    max-width: 100%;
    max-height: 100%;
}
#control {
    padding: $margin;
    background: $panel_background;
}

#imageviewer {
    padding: $margin;
    text-align: center;
    position: relative;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin fs-viewer {
    padding: 0;
    background-color: #000;
}

.widget {
    background-color: #fff;
    color: #000;
    padding: 2px 5px 2px 5px;
    z-index: 100;
}

/* should be separate, can't use in list */
#imageviewer:fullscreen { @include fs-viewer; }
#imageviewer:-webkit-full-screen { @include fs-viewer; }
#imageviewer:-moz-full-screen { @include fs-viewer; }

@mixin hidden {
    display: none;
}

@mixin visible($important) {
    display: block $important;
}

.hidden {
    @include hidden;
}

.pointer {
    cursor: pointer;
}

:fullscreen .fs-hidden { @include hidden; }
:-webkit-full-screen .fs-hidden { @include hidden; }
:-moz-full-screen .fs-hidden { @include hidden; }

:fullscreen .fs-visible { @include visible(!important); }
:-webkit-full-screen .fs-visible { @include visible(!important); }
:-moz-full-screen .fs-visible { @include visible(!important); }

#index {
    @extend .widget;
    position: absolute;
    top: $margin;
    left: 50%;
    margin-left: -10px;
    font-family: monospace;
}

@mixin fullscreen-index {
    background-color: #000;
    color: #0f0;
    left: 0;
    margin-left: 0;
}

:fullscreen #index { @include fullscreen-index; }
:-webkit-full-screen #index { @include fullscreen-index; }
:-moz-full-screen #index { @include fullscreen-index; }

#title-container {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: transparent;
}
#title {
    @extend .widget;
    font-family: monospace;
}

#navigation-panel-wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}

#navigation-panel {
    background-color: $panel_background;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    padding: 5px;
}

#help {
    min-width: 30%;
    max-width: 50%;
    margin: 0 auto;
    display: none;
    background-color: #fefefe;
    border-radius: 10px;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#help h1 {
    text-align: center;
}
